@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles'; // if using DnD
*{
    font-family: "YekanBakh", serif;
}
.rbc-day-slot{
    .rbc-events-container{
     margin-right: 0;
    }
}

.work .rbc-event{
    background: #188805;
    border-color: #34c621;
}
.leave .rbc-event{
    background: #ba0000;
    border-color: #c62121;
}

.waiting .rbc-event{
    background: #aba800;
    border-color: #f6e85c;
}
